
.login-page {
  height: 100vh;                  
  display: flex;
  justify-content: center;       
  align-items: center;            
  background: linear-gradient(135deg, #6a11cb, #2575fc); 
}


.auth-container {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 40px 50px;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 350px;
}

.auth-container h2 {
  margin-bottom: 20px;
  color: #333;
}

.auth-container input {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.auth-container button {
  width: 100%;
  background: #2575fc;
  border: none;
  color: white;
  padding: 12px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.auth-container button:hover {
  background: #6a11cb;
}