h2,
p {
    margin: 10px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333333;
    display: flex;
    /* justify-content: center; */
}

ul li a {
    display: block;
    color: white;
    padding: 20px 20px;
    text-decoration: none;
}

ul li a:hover {
    background-color: orangered;
}